# AVILA
CONSUMER_KEY_AVILA=""
CONSUMER_SECRET_AVILA=""
ACCESS_TOKEN_AVILA=""
ACCESS_TOKEN_SECRET_AVILA=""
POLEN_URL_AVILA="https://opendata.jcyl.es/ficheros/inpo/polen_actual.xml"

# LAS ROZAS
CONSUMER_KEY_LASROZAS=""
CONSUMER_SECRET_LASROZAS=""
ACCESS_TOKEN_LASROZAS=""
ACCESS_TOKEN_SECRET_LASROZAS=""
POLEN_URL_LASROZAS='http://gestiona.madrid.org/geoserver3/wms?SERVICE=WMS&VERSION=1.1.1&REQUEST=GetFeatureInfo&LAYERS=SPOL_V_CAPTAD
ORES_GIS&QUERY_LAYERS=SPOL_V_CAPTADORES_GIS&STYLES=&BBOX=365560.97254%2C4415910.465472%2C495339.02746%2C4558089.534528&FEATURE_COUNT=
50&HEIGHT=493&WIDTH=450&FORMAT=image%2Fpng&INFO_FORMAT=text%2Fhtml&SRS=EPSG%3A23030&X=202&Y=250'
