# AVILA
CONSUMER_KEY_AVILA=""
CONSUMER_SECRET_AVILA=""
ACCESS_TOKEN_AVILA=""
ACCESS_TOKEN_SECRET_AVILA=""
POLEN_URL_AVILA="https://opendata.jcyl.es/ficheros/inpo/polen_actual.xml"

# LAS ROZAS
CONSUMER_KEY_LASROZAS=""
CONSUMER_SECRET_LASROZAS=""
ACCESS_TOKEN_LASROZAS=""
ACCESS_TOKEN_SECRET_LASROZAS=""
CAPTADOR_LASROZAS=ROZA