# AVILA
CONSUMER_KEY_AVILA=""
CONSUMER_SECRET_AVILA=""
ACCESS_TOKEN_AVILA=""
ACCESS_TOKEN_SECRET_AVILA=""
POLEN_URL_AVILA="https://opendata.jcyl.es/ficheros/inpo/polen_actual.xml"

# LAS ROZAS
CONSUMER_KEY_LASROZAS=""
CONSUMER_SECRET_LASROZAS=""
ACCESS_TOKEN_LASROZAS=""
ACCESS_TOKEN_SECRET_LASROZAS=""
POLEN_URL_LASROZAS='https://idem.comunidad.madrid/geoserver3/proxy?https://idem.madrid.org:443/geoserver3/CapasSingulares/ows?service=wms&request=GetFeatureInfo&version=1.3.0&layers=SPOL_V_CAPTADORES_GIS&query_layers=SPOL_V_CAPTADORES_GIS&style=point&bbox=283393.77974903316,4384103.122663568,576606.2202509668,4585896.877336432&width=959&height=660&feature_count=30&x=469&y=329&i=469&j=329&info_format=text/html&crs=EPSG:25830'